.principal{
    display: flex;
    flex-direction: column;
    background-color: var(--ligth-blue);
    align-items: center;
    text-align: center;
}

#search h2{
    color: #fff;
    margin: 0.3em 0;
    font-size: 3em;
    width: 100%;
    font-family: 'Yellowtail', cursive;
}


#flex-principal{
    display: none;
    margin: 5em 0;
}

#search{
    display: none;
    margin: 1em 0;
    flex-direction: column;
    align-items: center;
}

#search input{
    padding: 0.3em 0.5em;
    border-radius: 10px;
    font-size: 25px;
    border: none;
}

#search input:focus{
    outline: none;
}

#search button{
    background-image: linear-gradient(to right, rgb(207, 22, 22) 0%, #f5ae14 51%, rgb(207, 22, 22) 100%);
    margin: 5px 0;
    padding: 6px 40px;
    text-align: center;
    border: none;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 12px;
    display: block;
}

#search button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#guitarrist figure{
    border-radius: 100%;
    height: auto;
    max-width: 25em;
    padding: 0 0 2em 0.7em;
    overflow: hidden;
    background-color: var(--blue);
}

#guitarrist img{
    max-width: 40em;
    height: 100%;
    position: relative;
    right: 7em;
    top: 35px;
} 

@media (min-width: 350px){
    #colombus-size{
        font-size: 64px;
        width: 100%;
    }
}

@media (min-width: 650px) and (min-height: 300px){
    #search{
        display: flex;
        position: relative;
    }

    #search {
        bottom: 5em;
    }
    
}

@media (min-width: 650px){


    #search input{
        font-size: 40px;
    }

    #search h2{
        font-size: 2.5em;
    }

    .home-title{
        font-size: 5em;
    }

    #colombus-size, .home-title{
        font-size: 6em;
    }

    #flex-principal{
        display: flex;
        flex-direction: column-reverse;
        margin: 5em 0;
        align-items: center;
        justify-content: center;
    }

    #flex-principal h1{
        position: relative;
        bottom: 0em;
    }


    #search button{
        margin: 1em 0;
    }
}

@media (min-width: 650px) and (min-height: 600px){

    .home-title{
        font-size: 8em;
    }
    
    #search {
        bottom: 5em;
    }
    

    #search button{
        margin: 2em 0;
        padding: 1.3em 3em;
    }
}

@media (min-width: 950px) and (min-height: 300px){
    #search{
        bottom: 9em;
        left: 15em;
    }

    #colombus-size{
        width: 9em;
    }

    #flex-principal{
        flex-direction: row;
        margin: 0;
    }

    #flex-principal h1{
        font-size: 5.5em;
        bottom: 0.5em;
        margin: 0;
    }

    #search input{
        font-size: 30px;
    }

    #search h2{
        font-size: 33px;       
        width: 60%;
    }

}


@media (min-width: 950px) and (min-height: 600px){
    
    #search input{
        font-size: 30px;
    }

    #search h2{
        font-size: 33px;       
        width: 60%;
    }
    
    #search{
        bottom: 9em;
        left: 15em;
    }

    #search input{
        font-size: 30px;
    }

    #search h2{
        font-size: 33px;       
        width: 60%;
    }
    
    
}

@media (min-width: 1000px){
    #flex-principal h1{
        font-size: 6em;
        width: 100%;
        margin: 0;
    }

    #search{
        bottom: 9em;
        left: 15em;
    }

    #search input{
        font-size: 35px;
    }

    #search h2{
        font-size: 35px;       
        width: 60%;
    }

    
}

@media (min-width: 1250px){
    #search{
        bottom: 13em;
        left: 15em;
    }

    #search input{
        font-size: 40px;
    }

    #search h2{
        font-size: 50px;       
        width: 60%;
    }

}






