.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.principal h1{
    text-align: center;
    font-size: 2em;
    width: 60%;
    font-weight: 600;
    letter-spacing: -.06em;
    margin: 0 0 16px;
    color: #fff;
} 

#flex-principal{
    display: flex;
    flex-direction: column-reverse;
    margin: 5em 0;
    align-items: center;
    justify-content: center;
}

#flex-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guitarrist{
    flex: 1;
}

#guitarrist figure{
    border-radius: 100%;
    height: auto;
    max-width: 25em;
    padding: 0 0 2em 0.7em;
    overflow: hidden;
    background-color: var(--blue);
}

#guitarrist img{
    max-width: 40em;
    height: 100%;
    position: relative;
    right: 7em;
    top: 35px;
} 

@media (min-width: 650px){
  .principal h1{
    font-size: 5em;
    width: 60%;
  } 
}
