@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

body{
  font-family: 'Rubik', sans-serif !important;
  background-color: #1d2023;
}

#section-app{
  width: 100%;
  background-color: var(--ligth-blue);
}

#visual{
  margin-top: 8em;
}

.home-title{
  text-align: center;
  font-size: 50px;
  width: 100%;
  font-weight: 600;
  background: url(../Home/img/lava.gif);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  margin: 0;
  color: #fff;
} 




#margin-color{
  background-color: #23262a;
  margin: 3em 0 3em 0 ;
  width: 100%;
}

input[type="file"] {
  display: none !important;
}

#image {
  border: 1px solid #ccc;
  border-radius: 12px;
  color: #fff;
  display: inline-block;
  padding: 6px 50px;
  cursor: pointer;
}

body{
  max-width: 100vw;

}

main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.mobile-visible{
  display: block;
}

.desktop-visible{
  display: none;
}

.flex-evenly{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.h1-white{
  color: #fff;
  font-size: 2em;
}


.margin-sections{
  margin: 8em 0 2em 0;
}

:root{
  --black: #0c0c0d;
  --pink: #f50049;
  --blue: #1d2023;
  --ligth-blue: #23262a;
}

fieldset{
  border: none;
}

.input{
  outline: none;
}

::placeholder{
  color: #fff;
}


@media (min-width: 650px) {
  .margin-relative{
    position: relative;
    bottom: 8em;
  }

  .desktop-visible{
    display: inline-block;
  }

  .mobile-visible{
    display: none ;
  }

  #visual{
    margin-top: 0;
  }
  .margin-sections{
    margin: 2em 0 2em 0;
  }
  
  .home-title{
    width: 60%;
    font-weight: 600;
    margin: 0 0 16px;
  } 
}

